* {
  font-family: "Raleway", sans-serif;
}

.error {
  text-align: center;
  font-size: 20px;
}

body {
  margin: 0;
}

.main-ctn {
  position: relative;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
  z-index: -1;
}

nav {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: bold;
  margin-bottom: 120px;
}

.login {
  display: flex;
  flex-direction: row;
}

.login-item {
  list-style-type: none;
  padding: 8px 20px;
  margin: 4px 5px;
  cursor: pointer;
}

.name {
  font-size: 25px;
  cursor: pointer;
}

.white {
  color: white;
  line-height: 120%;
  font-weight: bold;
}

#banner-text-1 {
  font-size: 12px;
}

#banner-text-2 {
  font-size: 32px;
  margin: 25px 0 40px 0;
}

#banner-text-3 {
  font-size: 15px;
}

#read-more {
  margin-top: 50px;
  position: relative;
  display: inline-block;

  border: 2px white solid;
  padding: 8px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s linear;
}

#read-more:hover,
.btn:hover {
  background-color: white;
  color: rgb(247, 58, 66);
}

.btn {
  border: 2px white solid;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.btn-t {
  border: 2px transparent solid;
}

.banner-img {
  width: 100%;
}

.section-2 {
  margin-top: 100px;
}

.section-2-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
  line-height: 100%;
}

.stat {
  padding: 10px;
  border-left: 2px solid rgb(204, 204, 204);
  margin: 0 10px;
}

.stat-text-1 {
  font-family: "Heebo", sans-serif;
  color: rgb(247, 58, 66);
  font-weight: bold;
  font-size: 30px;
}
.stat-text-2 {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 20px 0;
}

.stat-text-3 {
  font-size: 14px;
  margin-top: 15px;
}

.quote {
  font-size: 50px;
  line-height: 100%;
  position: relative;
  text-align: center;
}

.quote-ctn {
  margin: 150px 0;
}

.quote::before {
  display: inline-block;
  content: url("../images/quote.svg");
  position: absolute;
  top: -60px;
  height: 50px;
  width: 50px;
}

.quote::after {
  display: inline-block;
  content: url("../images/quote.svg");
  position: absolute;
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
}

#plans {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.plans {
  height: 500px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgb(230, 230, 230);
  margin: 30px;
}

.plans-ctn {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  background-color: grey;
  padding: 10px 0;
  margin-bottom: 50px;
}

.plans-text-1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.plans-text-3 {
  font-size: 10px;
}

.plans-ctn::before {
  display: inline-block;
  content: "";
  height: 40px;
  width: 40px;
  background-color: grey;

  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.plans-text-4 {
  color: rgb(150, 150, 150);
  margin: 22px 0;
}

.black {
  color: black;
}

.plans-btn {
  width: 100px;
  padding: 8px 12px;
  border-radius: 20px;
  margin: 30px auto 0 auto;

  cursor: pointer;
}

.price {
  position: relative;
}

.price::after {
  display: inline-block;
  content: "/mo.";
  font-size: 22px;

  position: absolute;
  top: 30px;
  right: -50px;
}

#plans-ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.light-yellow,
.light-yellow::before {
  background-color: #92ebf5;
}

.yellow,
.yellow::before {
  background-color: #63b7af;
}

.dark-yellow,
.dark-yellow::before {
  background-color: #35495e;
}

#footer {
  width: 100%;
  height: 20px;
  background-color: rgb(218, 218, 218);
  font-size: 12px;
  margin-top: 100px;
  text-align: center;
}
